{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>BookTime</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a href="/" class="navbar-brand">BookTime</a>
      <button class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}">Home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'products' 'all' %}" class="nav-link {% if request.path == '/products/all/' %}active{% endif %}">Products</a>
          </li>
          <li class="nav-item">
            <a href="/contact-us/" class="nav-link {% if request.path == '/contact-us/' %}active{% endif %}">Contact us</a>
          </li>
          <li class="nav-item">
            <a href="/about-us/" class="nav-link {% if request.path == '/about-us/' %}active{% endif %}">About us</a>
          </li>
        </ul>
      </div>
    </nav>

    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock content  %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>